<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.finderskeepers">

    <!-- Permissions -->

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.permission.camera.autofocus" />
    <uses-feature
        android:name="android.permission.camera.front"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".splash"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MyVid"
            android:label="@string/title_activity_my_vid"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MyCam"
            android:label="@string/title_activity_my_cam"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".camsaver"
            android:label="@string/title_activity_camsaver"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".getHome"
            android:label="@string/title_activity_get_home"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>
